/*--------------------------------------------------------------
>>> TABLE OF CONTENTS: 

# Default Style
# Accessibility
# Alignments
# Default style
# Clearings

----------------------------------------------------------------*/


/*--------------------------------------------------------------
# Default Style
--------------------------------------------------------------*/
/* Deafult Margin & Padding */
/*-- Margin Top --*/
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-33 {
  margin-top: 33px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-55 {
  margin-top: 55px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-75 {
  margin-top: 75px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-85 {
  margin-top: 85px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-95 {
  margin-top: 95px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-105 {
  margin-top: 105px;
}
.mt-110 {
  margin-top: 110px;
}
.mt-115 {
  margin-top: 115px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-125 {
  margin-top: 125px;
}
.mt-130 {
  margin-top: 130px;
}
.mt-135 {
  margin-top: 135px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-145 {
  margin-top: 145px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-155 {
  margin-top: 155px;
}
.mt-160 {
  margin-top: 160px;
}
.mt-165 {
  margin-top: 165px;
}
.mt-170 {
  margin-top: 170px;
}
.mt-175 {
  margin-top: 175px;
}
.mt-180 {
  margin-top: 180px;
}
.mt-185 {
  margin-top: 185px;
}
.mt-190 {
  margin-top: 190px;
}
.mt-195 {
  margin-top: 195px;
}
.mt-200 {
  margin-top: 200px;
}
/*-- Margin Bottom --*/

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-55 {
  margin-bottom: 55px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-85 {
  margin-bottom: 85px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-95 {
  margin-bottom: 95px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-105 {
  margin-bottom: 105px;
}
.mb-110 {
  margin-bottom: 110px;
}
.mb-115 {
  margin-bottom: 115px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-125 {
  margin-bottom: 125px;
}
.mb-130 {
  margin-bottom: 130px;
}
.mb-135 {
  margin-bottom: 135px;
}
.mb-140 {
  margin-bottom: 140px;
}
.mb-145 {
  margin-bottom: 145px;
}
.mb-150 {
  margin-bottom: 150px;
}
.mb-155 {
  margin-bottom: 155px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-165 {
  margin-bottom: 165px;
}
.mb-170 {
  margin-bottom: 170px;
}
.mb-175 {
  margin-bottom: 175px;
}
.mb-180 {
  margin-bottom: 180px;
}
.mb-185 {
  margin-bottom: 185px;
}
.mb-190 {
  margin-bottom: 190px;
}
.mb-195 {
  margin-bottom: 195px;
}
.mb-200 {
  margin-bottom: 200px;
}
/*-- Padding Top --*/

.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-55 {
  padding-top: 55px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-65 {
  padding-top: 65px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-75 {
  padding-top: 75px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-85 {
  padding-top: 85px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-95 {
  padding-top: 95px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-105 {
  padding-top: 105px;
}
.pt-110 {
  padding-top: 110px;
}
.pt-115 {
  padding-top: 115px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-125 {
  padding-top: 125px;
}
.pt-130 {
  padding-top: 130px;
}
.pt-135 {
  padding-top: 135px;
}
.pt-140 {
  padding-top: 140px;
}
.pt-145 {
  padding-top: 145px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-155 {
  padding-top: 155px;
}
.pt-160 {
  padding-top: 160px;
}
.pt-165 {
  padding-top: 165px;
}
.pt-170 {
  padding-top: 170px;
}
.pt-175 {
  padding-top: 175px;
}
.pt-180 {
  padding-top: 180px;
}
.pt-185 {
  padding-top: 185px;
}
.pt-190 {
  padding-top: 190px;
}
.pt-195 {
  padding-top: 195px;
}
.pt-200 {
  padding-top: 200px;
}
/*-- Padding Bottom --*/

.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-55 {
  padding-bottom: 55px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-65 {
  padding-bottom: 65px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-75 {
  padding-bottom: 75px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-85 {
  padding-bottom: 85px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-95 {
  padding-bottom: 95px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-105 {
  padding-bottom: 105px;
}
.pb-110 {
  padding-bottom: 110px;
}
.pb-115 {
  padding-bottom: 115px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-125 {
  padding-bottom: 125px;
}
.pb-130 {
  padding-bottom: 130px;
}
.pb-135 {
  padding-bottom: 135px;
}
.pb-140 {
  padding-bottom: 140px;
}
.pb-145 {
  padding-bottom: 145px;
}
.pb-150 {
  padding-bottom: 150px;
}
.pb-155 {
  padding-bottom: 155px;
}
.pb-160 {
  padding-bottom: 160px;
}
.pb-165 {
  padding-bottom: 165px;
}
.pb-170 {
  padding-bottom: 170px;
}
.pb-175 {
  padding-bottom: 175px;
}
.pb-180 {
  padding-bottom: 180px;
}
.pb-185 {
  padding-bottom: 185px;
}
.pb-190 {
  padding-bottom: 190px;
}
.pb-195 {
  padding-bottom: 195px;
}
.pb-200 {
  padding-bottom: 200px;
}



/*-- Padding Left --*/
.pl-0 {
  padding-left: 0px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20{
  padding-left: 20px;
}
.pl-25 {
  padding-left: 35px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}
.pl-65 {
  padding-left: 65px;
}
.pl-70 {
  padding-left: 70px;
}
.pl-75 {
  padding-left: 75px;
}
.pl-80 {
  padding-left: 80px;
}
.pl-85 {
  padding-left: 80px;
}
.pl-90 {
  padding-left: 90px;
}
.pl-95 {
  padding-left: 95px;
}
.pl-100 {
  padding-left: 100px;
}


/*-- Padding Right --*/
.pr-0 {
  padding-right: 0px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20{
  padding-right: 20px;
}
.pr-25 {
  padding-right: 35px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-35 {
  padding-right: 35px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}
.pr-65 {
  padding-right: 65px;
}
.pr-70 {
  padding-right: 70px;
}
.pr-75 {
  padding-right: 75px;
}
.pr-80 {
  padding-right: 80px;
}
.pr-85 {
  padding-right: 80px;
}
.pr-90 {
  padding-right: 90px;
}
.pr-95 {
  padding-right: 95px;
}
.pr-100 {
  padding-right: 100px;
}

/* font weight */
.f-700{font-weight: 700;}
.f-600{font-weight: 600;}
.f-500{font-weight: 500;}
.f-400{font-weight: 400;}
.f-300{font-weight: 300;}

/* Background Color */

.grey-bg {
  background: #f4f7fc;
}
.white-bg {
  background: #fff;
}
.black-bg {
  background: #222;
}
.theme-bg {
  background: #faf9f9;
}
.primary-bg {
  background: #222;
}
/* Color */

.white-color {
  color: #fff;
}
.black-color {
  color: #222;
}
.theme-color {
  color: #5580ff;
}
.primary-color {
  color: #222;
}
.fix{overflow: hidden;}
/* black overlay */

[data-overlay] {
  position: relative;
}
[data-overlay]::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
[data-overlay="3"]::before {
  opacity: 0.3;
}
[data-overlay="4"]::before {
  opacity: 0.4;
}
[data-overlay="5"]::before {
  opacity: 0.5;
}
[data-overlay="6"]::before {
  opacity: 0.6;
}
[data-overlay="7"]::before {
  opacity: 0.7;
}
[data-overlay="8"]::before {
  opacity: 0.8;
}
[data-overlay="9"]::before {
  opacity: 0.9;
}
.form-control:focus {
  box-shadow: none;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline-block !important;
    float: left;
    margin-right: 1.75em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}
.alignnone {
    margin-bottom: 1.5em;
}
.aligncenter img,
.alignright img,
.alignleft img,
.alignnone img {
    margin-bottom: 0;
}
footer img {
  height: auto;
  max-width: 100%;
}
.wp-caption.alignnone p {
    margin: 0;
}
img.alignnone,
figure img {
    height: auto;
    max-width: 100%;
    margin-bottom: 0;
}
iframe {
    width: 100%;
    height: 600px;
}
figure.alignleft, figure.aligncenter {
    margin-bottom: 1.5em;
    margin-right: 1.7em;
}
figure.alignright{
    margin-bottom: 1.5em;
    margin-left: 1.7em;
    margin-right: 0em;
}
.default-footer .widget.widget-newsletter {
    padding: 0 !important;
    background: transparent !important;
}
.widget {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}
.default-footer .widget.widget:not(.widget-search):not(.widget-newsletter) h6 {
    border: none !important;
}
.gallery-caption{
  margin-top: 0 !important;
  color: #545454;
}
.wp-caption-text,
.gallery-caption,
.bypostauthor,
.wp-caption {
    margin-top: 5px;
    font-size: inherit;
}
.variations select {
    padding: 0 1.5em 0 1em;
    cursor: pointer;
    line-height: 3.5rem;
    max-width: 100%;
    height: 40px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*--------------------------------------------------------------
# Default style
--------------------------------------------------------------*/
aside img {
  height: auto;
  max-width: 100%;
}
ul.rounding-list {
  padding: 0;
  list-style: none;
  margin-top: 15px;
}
ul.rounding-list li {
  color: #242424;
  padding-left: 30px;
  line-height: 25px;
  margin-bottom: 7px;
  position: relative;
}
ul.rounding-list li:before {
  left: 0;
  top: 0;
  color: #16992b;
  font-size: 22px;
  content: '\f10a';
  position: absolute;
  font-family: Flaticon;
}
/* - Calendar Style 
------------------------------------------*/
table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    margin-bottom: 15px;
    border-spacing: 0;
    width: 100%;
}
caption,
th,
td {
    font-weight: normal;
    text-align: left;
    padding: 0 5px;
}
caption {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin: -1px 0 20px 0;
    border: 1px solid #eceef0;
}
th {
    font-weight: bold;
    text-transform: capitalize;
    border-top: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #ededed;
    padding: 4px 10px;
}
td {
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
    padding: 5px;
}
ins {
    text-decoration: none;
    margin-left: 5px;
    font-size: 1.2em;
    font-weight: 700;
}
dl {
    margin: 0 20px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 0 20px;
}
dt {
    margin-bottom: 5px;
}
dd {
    margin-bottom: 20px;
}

blockquote {
    margin: 25px 0;
    box-shadow: 1px 1px 5px #eceef0;
}

blockquote p {
  background: #f6f6f6 none repeat scroll 0 0;
  border-left: 2px solid #5580ff;
  color: #333333;
  font-size: 16px;
  line-height: 26px;
  padding: 30px 30px 30px 17px;
  padding-left: 60px;
  border-left: 0;
  background: #5580ff;
  color: #fff;
  font-size: 18px;
  position: relative;
}
blockquote p:after {
  top: 26px;
  left: 22px;
  content: '\f10d';
  position: absolute;
  font: normal normal normal 28px/1 FontAwesome;
}
blockquote cite {
  display: block;
  font-size: 13px;
  font-style: normal;
  line-height: 18px;
  margin-top: 15px;
}

blockquote cite:before {
  content: "\2014 \0020";
}
blockquote a,
blockquote cite a,
blockquote cite a:visited {
  color: #131313;
  border: none
}
blockquote a:hover {
    color: #fff;
}
blockquote cite a:hover {
  color: #fff;
}
label {
    width: 100%;
    display: inline-block;
}
code {
  color: #242424 !important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #5580ff;
    border-color: #5580ff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5580ff;
    border-color: #5580ff;
}

.blog-details h1,
.blog-details h2,
.blog-details h3,
.blog-details h4,
.blog-details h5,
.blog-details h6 {
  margin-top: 15px;
}
.comment-area ul#submited-comment li.pingback {
  padding: 0 0 40px;
  margin: 0 0 40px;
  border-bottom: 1px solid #f1f1f1;
}
.comment-navigation {
  width: 100%;
  display: inline-block;
}
.comment-navigation .nav-previous a,
.comment-navigation .nav-next a {
  color: inherit;
}
.comment-navigation .nav-previous a:hover,
.comment-navigation .nav-next a:hover {
  color: #5580ff;
}
/* - Page edit Style
------------------------------------------*/
footer.entry-footer {
  margin-top: 50px;
}
footer.entry-footer a {
  color: inherit;
  padding-right: 30px;
}
footer.entry-footer a:hover {
  color: #5580ff;
}
footer.entry-footer span.edit-link a {
    padding-right: 25px;
    color: #5580ff;
    font-size: 16px;
}
footer.entry-footer span.edit-link a:hover {
    color: #242424 !important;
}

/* - Widget Common Style
------------------------------------------*/
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_archive ul,
.widget_pages ul,
.widget_meta ul,
.widget_rss ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.widget_recent_entries ul li, 
.widget_recent_comments ul li, 
.widget_meta ul li, 
.widget_pages ul li, 
.widget_archive ul li, 
.widget_nav_menu ul li, 
.widget_categories ul li {
  position: relative;
  padding-left: 15px;
}
.widget_nav_menu ul li {
  padding-bottom: 0;
}
.widget_nav_menu ul.sub-menu li:last-child {
    margin-bottom: 0 !important;
}
.widget_nav_menu ul.sub-menu {
  margin-top: 15px;
}
.widget_recent_entries ul li:before, 
.widget_recent_comments ul li:before, 
.widget_meta ul li:before, 
.widget_pages ul li:before, 
.widget_archive ul li:before, 
.widget_nav_menu ul li:before, 
.widget_categories ul li:before {
  top: 8px;
  left: 0;
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  background-color: #5580ff;
  border-radius: 50%;
  margin-right: 7px;
  opacity: .5;
  position: absolute;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.widget_recent_entries ul li:hover:before, 
.widget_recent_comments ul li:hover:before, 
.widget_meta ul li:hover:before, 
.widget_pages ul li:hover:before, 
.widget_archive ul li:hover:before, 
.widget_nav_menu ul li:hover:before, 
.widget_categories ul li:hover:before {
  opacity: 1;
}
.widget_nav_menu ul li:before {
  margin-bottom: 1px;
}
.offcanvas-menu .widget_nav_menu ul li:before {
  display: none;
}
.offcanvas-menu .widget_nav_menu ul li {
  padding-left: 0;
}
.widget_recent_entries ul li:not(:last-child), 
.widget_recent_comments ul li:not(:last-child), 
.widget_meta ul li:not(:last-child), 
.widget_pages ul li:not(:last-child), 
.widget_archive ul li:not(:last-child), 
.widget_nav_menu ul li:not(:last-child), 
.widget_categories ul li:not(:last-child) {
  margin-bottom: 15px;
  position: relative;
}
.widget_recent_entries ul li {
  margin: 10px 0;
}
.widget_recent_entries ul li:last-child {
  margin-bottom: 0;
}
.widget_categories select,
.widget_archive select {
  width: 100%;
  height: 40px;
  display: block;
  margin-top: 15px;
  padding: 7px 10px;
}
.widget_categories select option,
.widget_archive select option {
    padding: 7px 10px;
}
.textwidget strong {
  margin: 5px 0;
  margin-bottom: 10px;
  display: inline-block;
}
/* - Rss Style
------------------------------------------*/
.widget_rss ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-word;
}
.rssSummary {
  padding: 5px 0;
}
.widget_rss ul li a {
    color: #5580ff;
    padding-bottom: 5px;
    display: block;
    font-weight: 500;
}
.widget_rss ul li a:hover {
    color: #5a7ad6;
}
.widget_rss .footer-widget .title-small a.rsswidget {
    color: #333;
    text-decoration: none;
}
footer .widget_rss span,
footer .widget_rss a,
footer .widget_rss {
    color: #fff;
}
.widget_rss ul li:last-child {
    border-bottom: none;
}

.widget_rss .rss-date {
    display: inherit;
    font-size: 13px;
    font-weight: 600;
}
.widget_rss cite{
    color: #5580ff;
}
.widget_rss ul li {
    border-bottom: 1px solid #e3e3e3;
}
.rssSummary {
    font-size: 15px;
    color: #707070;
}

/* - Category Style
------------------------------------------*/
.widget_categories ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.widget_categories ul li {
    color: #242424;
    margin: 2px 0;
    font-size: 16px;
    position: relative;
}
footer .widget_categories ul li {
    margin: 8px 0;
}
.widget_categories ul li a {
  color: #242424;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
}
.widget_archive ul li span.pull-right {
    margin-top: 0;
}
figure, 
.wp-caption, 
.wp-caption-overlay .wp-caption {
    border: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.scheme_default figure figcaption, 
.scheme_default .wp-caption .wp-caption-text, 
.scheme_default .wp-caption .wp-caption-dd, 
.scheme_default .wp-caption-overlay .wp-caption .wp-caption-text, 
.scheme_default .wp-caption-overlay .wp-caption .wp-caption-dd {
    color: #ffffff;
    background-color: #000;
}
.wp-block-image figcaption, 
figure figcaption, 
.wp-caption .wp-caption-text, 
.wp-caption .wp-caption-dd, 
.wp-caption-overlay .wp-caption .wp-caption-text, 
.wp-caption-overlay .wp-caption .wp-caption-dd {
  color: #545454;
  font-size: 14px;
  font-style: italic;
  z-index: 1;
  top: auto;
  right: 0;
  bottom: 0px;
  left: 0;
  line-height: 26px;
  -webkit-transition: margin-bottom 0.3s ease;
  -ms-transition: margin-bottom 0.3s ease;
  transition: margin-bottom 0.3s ease;
  margin-bottom: 0;
  text-align: center;
  padding: 10px 10px;
  letter-spacing: 0;
  overflow: hidden;
}

figure:hover figcaption, 
.wp-caption:hover .wp-caption-text, 
.wp-caption:hover .wp-caption-dd, 
.wp-caption-overlay .wp-caption:hover .wp-caption-text, 
.wp-caption-overlay .wp-caption:hover .wp-caption-dd {
  /*margin-bottom: -6em;*/
  -webkit-transition: margin-bottom 0.3s ease;
  -ms-transition: margin-bottom 0.3s ease;
  transition: margin-bottom 0.3s ease;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 5px;
  text-align: center;
  overflow: hidden;
}
.gallery-item .gallery-caption {
  max-height: 42px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}

.widget_categories .footer-widget ul li:after,
.widget_categories .footer-widget ul li  {
  color: #fff;

}
.widget_categories ul li span {
  margin-top: 5px;
}
.widget_categories ul li span.pull-right {
  padding-right: 15px;
  margin-top: 0;
}
.widget_categories ul li:hover span,
.widget_categories ul li a:hover  {
  color: #5580ff;
}
footer .widget_categories ul li span,
footer .widget_categories ul li a,
footer abbr,
footer ul li a,
footer ul li {
  color: #fff;
}
footer .footer-widget .rssSummary,
footer .footer-widget cite {
  color: #fff;
}
img.rss-widget-icon {
  display: none;
}
footer .widget_tag_cloud {
  border: none;
  padding: 0; 
}
footer .widget_tag_cloud h4.title{
  border: none;
}
/* - Widget Text Style
------------------------------------------*/
.widget_text select {
  width: 100%;
  height: 40px;
  padding: 7px 15px;
}
.widget-item.widget_archive li a {
    float: left;
}
footer strong,
footer b,
footer p {
  color: #fff;
  margin-bottom: 0;
}
.widget_text img {
  height: auto;
  max-width: 100%;
}
/* - Tag Cloud Style
------------------------------------------*/
.widget_tag_cloud {
  padding: 22px 0 20px;
}
.widget_tag_cloud .tagcloud  {
  width: 100%;
  display: inline-block;
  list-style: outside none none;
}
.widget_tag_cloud h4.title {
  border-bottom: 1px solid #cdcdcd;
  margin: 0 0 28px;
  padding: 0 30px 20px;
}
.widget_tag_cloud a {
  color: #131313;
  padding: 5px 15px;
  border-radius: 30px;
  display: inline-block;
  border: 1px solid #e3e3e3;
  font-size: 16px !important;
  margin-bottom: 5px;
  line-height: 25px;
}
.widget_tag_cloud a:hover {
  color: #fff !important;
  background: #5580ff;
  border-color: #5580ff;
}
footer .widget_tag_cloud a {
  color: #fff;
}
.mean-container .mean-nav ul li li a {
  height: 14px;
}
/* - Sidebar Default Menu Style 
------------------------------------------*/
.widget_nav_menu ul{
    padding: 0px;
}
.widget_nav_menu ul li {
  list-style:none;
  padding-bottom: 0;
}
.widget.widget_nav_menu ul.sub-menu {
  padding-left: 5px;
}
.widget.widget_nav_menu ul.sub-menu li a {
  display: inline-block;
}
.widget_nav_menu .footer-widget ul.sub-menu li a {
  display: inline-block;
}

/**
 * Default galleries
 */
.gallery {
  margin: -5px;
}
.gallery-item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  margin: 0px;
}
.gallery-item a img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.gallery-columns-1 .wp-caption-text {
  margin-top: 0px;
  margin-bottom: 0px;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-columns-7 .wp-caption-text,
.gallery-columns-8 .wp-caption-text,
.gallery-columns-9 .wp-caption-text {
  display: none;
}

.sidebar-blog .gallery-columns-2 .wp-caption-text,
.sidebar-blog .gallery-columns-3 .wp-caption-text,
.sidebar-blog .gallery-columns-4 .wp-caption-text,
.sidebar-blog .gallery-columns-5 .wp-caption-text,
.sidebar-blog .gallery-columns-6 .wp-caption-text {
  display: none;
}

/**
 * One + Two Columns Gallery
 */
.gallery-1-2 {
  margin: 32px -5px;
}

.gallery-1-2 > .gallery {
  margin: 0;
}

.gallery-1-2 img {
  display: block;
}

.gallery-1-2 .gallery-item {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 50%;
  max-width: 100%;
  padding: 5px;
  float: left;
}

.gallery-1-2 .gallery-item:hover .gallery-caption {
  visibility: visible;
  opacity: 1;
}

.gallery-1-2 .gallery-item:nth-child(3n+1) {
  width: 100%;
}

.gallery-1-2 .gallery-caption {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding: 7px 10px;
  background: rgba(17, 17, 17, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  color: #fff;
  font-size: 12px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

/**
 * Gallery slider
 */
.gallery-slider {
  visibility: hidden;
  margin-bottom: 36px;
}

.gallery-slider.slick-initialized {
  visibility: visible;
}

.gallery-slider .slick-slide {
  position: relative;
}

.gallery-slider .slick-slide img {
  margin-bottom: 0 !important;
}

.gallery-slider .caption {
  position: absolute;
  padding: 7px 10px;
  background: rgba(17, 17, 17, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  font-style: italic;
}

/* - calendar widget Default Menu Style 
------------------------------------------*/
#wp-calendar {
    width: 100%;
    max-width: 37.5rem;
    background: #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
#wp-calendar caption {
    background: #5580ff;
    color: #fff;
    padding: 0.25rem;
    text-align: center;
    margin-bottom: 0;
    border: 1px solid #5580ff;
}
#wp-calendar thead tr {
    border-right: 1px solid #ccc;
}
#wp-calendar thead th {
    font-size: 90%;
    font-weight: bold;
    padding: 0.25rem;
    background: #ccc;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #b5b5b5;
}
#wp-calendar tbody td {
    position: relative;
    padding: 0.125rem;
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
}
#wp-calendar tbody td.pad {
    opacity: 0.7;
}
#wp-calendar tbody td#today {
    font-weight: bold;
}
#wp-calendar tbody td#today:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #999;
    border-left: 10px solid transparent;
}
#wp-calendar tbody td a {
    color: #fff !important;
    color: inherit;
    display: block;
    background: #5580ff;
}
#wp-calendar tbody td a:hover {
    color: #fff;
    background: #5580ff;
}
#wp-calendar tfoot tr {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
}
#wp-calendar tfoot tr td {
    border: 0;
    padding: 0;
}
#wp-calendar tfoot tr a {
    display: block;
    padding: 0.25rem 0.75rem;
}
#wp-calendar tfoot tr a:hover {
    background: #fff;
}
#wp-calendar tfoot tr #prev {
    text-align: left;
}
#wp-calendar tfoot tr #next {
    text-align: right;
}

/* - Sticky Post Style 
------------------------------------------*/
.sticky .blog-content{
  display: block;
  background: #f7f7f7;
}
.sticky .blog-content h4 a {
    padding-left: 20px;
    position: relative;
}
.sticky .blog-content h4 a:before {
    left: 0;
    top: 3px;
    content: '\f08d';
    font-size: 22px;
    position: absolute;
    font-family: "FontAwesome";
}
/* - Gallery Post Style 
------------------------------------------*/
.tag-gallery h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.gallery-item {
    max-width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    padding: 5px;
}
.gallery-icon img {
    margin: 0 auto;
}
.widget_media_image figure {
    margin-bottom: 0;
}


/* - Page link Style 
------------------------------------------*/
.page-links {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    display: inline-block;
}
.page-links a, 
.page-links > span {
    color: #343a40;
    font-size: 1.3em;
    line-height: 20px;
    margin-left: 5px;
    text-align: center;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #dee2e6;
}
.page-links a:hover,
.page-links > span {
    color: #fff;
    background-color: #5580ff;
    border-color: #5580ff;
}
.page-links > span a {
    color: #fff;
}
.page-link:focus {
    box-shadow: none;
}
/* - Others Style 
------------------------------------------*/
p.logged-in-as {
    margin-top: -15px;
    margin-bottom: 15px;
}
p.logged-in-as a {
    color: #5580ff;
}
p.logged-in-as a:hover {
  color: #242424;
}
.logged-in header.navbar-fixed-top {
    top: 32px;
}
/*--------------------------------------------------------------
# Search None Page
--------------------------------------------------------------*/
.row.section-content {
    margin-bottom: 80px;
}
h2.search-page-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.search-none-search-bar {
    max-width: 700px;
    margin-top: 25px;
}
.error-area .search-none-search-bar {
    margin: 0 auto;
}
.search-none-search-bar input {
    width: 94%;
    padding: 10px;
    border: 2px solid #eceef0;
    padding-right: 53px !important;
}
.search-none-search-bar button {
    color: #a9a9a9;
    border: 2px solid #eceef0;
    background-color: transparent;
}
section.no-results.not-found {
    padding: 0 15px;
}
/*--------------------------------------------------------------
# Sticky Post Style
--------------------------------------------------------------*/
.single-blog.sticky {
    padding: 15px;
    background-color: #eceef0;
}
.no-padding.comment-area-page {
    padding-top: 25px;
}
nav.navigation.post-navigation {
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 0px;
}
.nav-previous {
    float: left;
}
.nav-next {
    float: right;
}
.nav-links a {
  color: #545454;
  transition: all .2s ease;
  font-size: 15px;
  font-weight: 400;
}
.nav-links a:hover {
    color: #5580ff;
}
/*--------------------------------------------------------------
# Default Sidebar Commnets Style
--------------------------------------------------------------*/
.widget_recent_comments span.comment-author-link {
  font-weight: 700;
  display: inline-block;
}
.widget_recent_comments li {
    margin-bottom: 10px !important;
}
.widget_recent_comments li:last-child {
    margin-bottom: 5px !important;
}
/*--------------------------------------------------------------
# Default Password Style
--------------------------------------------------------------*/
.post-password-form p {
    margin-top: 15px;
}
.post-password-form label {
    width: initial;
    margin-top: 10px;
    display: inline-block;
}
.post-password-form input[type=submit],
input#pwbox-1168 {
    width: auto;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #eceef0;
    background-color: #f9f9f9;
}
.post-password-form input[type=submit] {
    color: #fff;
    height: 40px;
    line-height: 21px;
    border-color: #5580ff;
    background-color: #5580ff;
}
/*--------------------------------------------------------------
# Default Comments Style
--------------------------------------------------------------*/
.blog-comment-area .comment-title {
    font-size: 20px;
    font-weight: 600;
}
.blog-comment-area h4.comment-title.comment-numner {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 24px;
    margin-bottom: 50px;
    border-bottom: 1px solid #f1f1f1;
}
.comment-title.comment-form-title {
  padding-bottom: 7px;
}
.comment-title.comment-form-title {
  padding-bottom: 25px;
}
.admin-bar .comment-title.comment-form-title {
  padding-bottom: 12px;
}
.blog-comment-area .comment-title small a {
  font-size: 15px;
  color: inherit;
}
.blog-comment-area .comment-title small a:hover {
  color: #5580ff;
}
.comment-respond {
    margin-top: 10px;
    margin-bottom: 30px;
}
.comment-form {
  margin-top: 50px;
}
.blog-comment-area .form-control {
    padding: 13px 20px;
}
.bd-comments {}

.bd-comments .title {
  border-bottom: 1px solid #f1f1f1;
  color: #242424;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0 0 33px;
  padding: 0 0 30px;
}

.blog-comment-area ul li article {
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0 17px;
  padding-bottom: 12px;
}
.comment-box {
  margin-bottom: 30px;
}
.bd-comment-box {
  overflow: auto;
}
.bd-comment-box p {
  margin-bottom: 15px !important;
}
.bd-comment-box .img {
  float: left;
  width: 100px;
  margin-bottom: 17px;
}

.bd-comment-box .img img {
  border-radius: 100%;
}

.bd-comment-box .content {
  overflow: auto;
  padding-left: 20px;
}

.bd-comment-box .content .name {
  margin-top: 0;
  color: #242424;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  overflow: visible;
  text-transform: capitalize;
}

.bd-comment-box .content .name a.comment-reply-link {
  color: #5580ff;
  float: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.bd-comment-box .content .name a.comment-reply-link:hover {
  color: #242424;
}

.bd-comment-box .content .ago {
  color: #666666;
  display: block;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0 0 10px;
}

.bd-comment-box .content .text {
  color: #242424;
  font-size: 16px;
  line-height: 26px;
}

ul#submited-comment {
    padding-left: 0;
}
.blog-comment-area ul {
    list-style: none;
    padding-left: 0;
}
.sidebar .children, 
.sidebar .parent,
footer .children,
footer .parent {
    padding-top: 0;
    padding-bottom: 0;
} 
ul.children {
    margin: 30px 0 0 60px;
}
.widget ul li ul {
    padding: 0;
    margin: 0px;
    margin-top: 15px;
    padding-left: 8px;
}

.bd-comment-box .text> ul>li {
    list-style: disc !important;
}
.bd-comment-box .text> ul>li>ul>li {
    list-style: circle !important;
}
.bd-comment-box .text> ul>li>ul>li>ul>li {
    list-style-type: square !important;
}
.bd-comment-box .text> ul>li>ul>li>ul,
.bd-comment-box .text> ul>li>ul,
.bd-comment-box .text> ul {
    padding-left: 30px !important;
}

/*--------------------------------------------------------------
# Default Search + Comment Style
--------------------------------------------------------------*/
.widget.widget_search .widget-title {
  padding: 30px;
  padding-bottom: 0;
  border-bottom: 1px solid #e1e1e1;
}
.ws-input form {
  position: relative;
}
.ws-input input {
  width: 100%;
  border: none;
  margin-bottom: 0;
  padding: 15px 30px;
}
.ws-input button {
  top: 0;
  right: 0;
  height: 100%;
  font-size: 20px;
  color: #24242460;
  padding: 10px 20px;
  position: absolute;
  transition: all .4s ease;
  background-color: transparent;
  border: 1px solid transparent;
}
.ws-input button:hover {
  color: #5580ff;
}
.ws-input input:focus {
    outline-color: #5580ff; 
}
.ws-input button:focus {
    outline: none;
}
.search-none-search-bar .ws-input form {
  border: 1px solid #e1e1e1;
}
.blog-comment-area ul#submited-comment li.pingback {
    padding: 0 0 5px;
    margin: 0 0 25px;
    border-bottom: 1px solid #f1f1f1;
}
.blog-comment-area ul#submited-comment li.pingback p {
  margin-bottom: 20px;
}
.blog-comment-area ul#submited-comment li.pingback a {
  color: #5580ff;
}
.blog-comment-area ul#submited-comment li.pingback a:hover {
  color: #131313;
}
/*--------------------------------------------------------------
# Default Pagination Style
--------------------------------------------------------------*/
.blog-pagination.blog-list-pagination {
    width: 100%;
    margin-top: 50px;
    display: inline-block;
}
.blog-pagination.blog-list-pagination ul { 
    padding: 0;
    list-style: none;
    text-align: center;
}
.blog-pagination.blog-list-pagination ul li {
    display: inline-block;
}
.blog-pagination.blog-list-pagination ul li a {
  color: #333;
  height: 30px;
  width: 30px;
  display: inline-block;
  border: 1px solid #333;
  line-height: 30px;
  margin: 0 3px;
  text-decoration: none;
}
.blog-pagination.blog-list-pagination ul li.active a,
.blog-pagination.blog-list-pagination ul li a:hover { 
  color: #fff;
  border-color: #5580ff;
  background-color: #5580ff;
}
.pagination_waper ul.pagination {
  margin-top: 20px;
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
.admin-bar .h2-menu-area.navbar-fixed-top,
.admin-bar .h3-menu-area.navbar-fixed-top,
.admin-bar .home2-menu-area.navbar-fixed-top,
.admin-bar .menu-area.navbar-fixed-top {
  margin-top: 32px;
}


/* - Custom Default 
==========================================================*/
.fallbackcd-menu-item a.fallbackcd {
  color: #242424;
  display: inline-block;
}
.default-logo a {
  padding: 0;
  color: #242424;
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
}
.default-logo a:hover {
  color: #5580ff;
}
.news-one-sb.single-blog .content .type a {
  color: #dd4961;
}
.dropdown-toggle::after {
  content: '\f107';
  border-top: 0;
  vertical-align: 0;
  font-weight: 400;
  font-family: "FontAwesome";
  margin-left: 0;
}


